.navItems{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding-left: 20px;
}

#Ham,#cancel{
    width: 50px;
    position: absolute;
    left: 20px;
    display: none;
}


.links{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-right: 20px;
    
    }
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

a:hover{
    color:rgb(86, 86, 169);
}

       




.links >:nth-child(2){
    color: #FF0096;
}


@media (max-width: 800px){
    #Ham{
        display: block;
    }
    
    .navItems{
       
       justify-content: center;  
       position: relative;
    }

    .links{
        display: none;
    }
    .SideBar{
        /* display: none; */
        position: absolute;
        flex-direction: column;
        top: 50px;
        left: -150px;
        background:rgb(243, 241, 241);
        width: 40%;
        height: 100vh;
        align-items: flex-start;
        justify-content: flex-start;
        padding:20px  50px;
        display: flex;
        transition: left 0.3s ease ;
}

    .SideBar:hover {
        left: 0px; /* Slide in */
    }


}